{% extends 'baseFront2.html.twig' %}

{% block tableForm %}
    <main id="main" class="main">


        <div class="row">
            <div class="col-lg-12 justify-content-centre">


                <div class="card">

                    <div class="card-body">

                        <h5 class="card-title">Ajouter Formation</h5>

                        {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
                        {{ form_widget(form) }}
                        <br/>
                        <br/>
                        <div class="d-flex justify-content-between">
                            <button  class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
                            <a href="{{ path('app_freelancer_index') }}" class="btn btn-primary">
                                <i class="fas fa-arrow-left mr-2"></i>back to list
                            </a>
                        </div>

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}