
{% extends 'baseBack.html.twig' %}

{% block tableForm %}
   <div class="main-content">

		<div class="page-content">
			<div class="container-fluid">
				<br>
				<br>
				<br>
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div>


									<br>
									<br>

									<div class="wizard-tab">
										<div class="text-center mb-4">
											<h5>Ajout un nouveau domaine
											</h5>
											<p class="card-title-desc">Remplissez pour choisir un domaine dans un evenement</p>
										</div>

										<div>
											{{ form_start(form) }}
											<div class="mb-3">
												{{ form_label(form.domaine, 'Domaine', {'label_attr': {'class': 'form-label'}}) }}
												{{ form_widget(form.domaine, {'attr': {'class': 'form-control'}}) }}
												{{ form_errors(form.domaine) }}
											</div>


											<div class="d-flex align-items-start gap-3 mt-4">
												<button type="submit" class="btn btn-primary w-sm ms-auto">{{ button_label|default('Ajouter') }}</button>
											</div>
											{{form_end(form  , )   }}
										</div>
									</div>
									<!-- end card body -->
								</div>
								<!-- end card -->
							</div>
							<!-- end col -->
						</div>
						<!-- end row -->
					</div>
					<!-- container-fluid -->
				</div>
				<!-- End Page-content -->


			</div>
		</div>
	</div>
{% endblock %}
